<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments/head :: head"></head>

<body>

  <div th:replace="admin/fragments/header :: header"></div>

  <div th:replace="admin/fragments/sidebar :: sidebar"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Bảng điều khiển</h1>
      <nav>
      </nav>
    </div><!-- End Page Title -->



  </main><!-- End #main -->

  <div th:replace="admin/fragments/footer :: footer"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div th:replace="admin/fragments/script :: script"></div>

</body>

</html>