<footer th:layout="footer">
  <div class="footer_area">
    <div class="footer_top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer_widget">
              <h3>Thông tin về chúng tôi</h3>
              <p>
                <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. -->
              </p>
              <div class="footer_widget_contect">
                <p>
                  <i class="fa fa-map-marker" aria-hidden="true"></i> 182 Lê
                  Duẩn, Bến Thủy, Vinh, Nghệ An
                </p>
                <p>
                  <i class="fa fa-mobile" aria-hidden="true"></i> 0364494459
                </p>
                <a href="#"
                  ><i class="fa fa-envelope-o" aria-hidden="true"></i>
                  nguyenxuanmanh2k2@gmail.com
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer_widget">
              <h3>Tài khoản</h3>
              <ul>
                <li><a href="#">Tài khoản của bạn</a></li>
                <li><a href="#">Đơn hàng</a></li>
                <li><a href="#">Phiếu tín dụng</a></li>
                <li><a href="#">Địa chỉ</a></li>
                <li><a href="#">Đăng nhập</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer_widget">
              <h3>Thông tin</h3>
              <ul>
                <li><a href="#">Khuyến mãi</a></li>
                <li><a href="#">Cửa hàng của chúng tôi</a></li>
                <li><a href="#">Số tài khoản của chúng tôi</a></li>
                <li><a href="#">Các điều khoản và điều kiện</a></li>
                <li><a href="#">Thông tin cửa hàng</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer_widget">
              <h3>Bổ sung</h3>
              <ul>
                <li><a href="#"> Thương hiệu</a></li>
                <li><a href="#"> Phiếu quà tặng</a></li>
                <li><a href="#"> Chi nhánh </a></li>
                <li><a href="#"> Khuyến mãi </a></li>
                <li><a href="#"> Chính sách bảo mật </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6">
            <div class="copyright_area">
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="footer_social text-right">
              <ul>
                <li>
                  <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa fa-google-plus" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a class="pinterest" href="#"
                    ><i class="fa fa-pinterest-p" aria-hidden="true"></i
                  ></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-wifi" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
