<header th:layout="header">
  <div class="header_area">
    <!--header top-->
    <div class="header_top">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <div class="switcher">
            <ul>
              
            <!-- 
              <li class="currency">
                <a href="#"> Currency : $ <i class="fa fa-angle-down"></i></a>
                <ul class="dropdown_currency">
                  <li><a href="#"> Dollar (USD)</a></li>
                  <li><a href="#"> Euro (EUR) </a></li>
                </ul>
              </li> -->
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header_links">
            <ul>
              <!--<li>
                <a href="wishlist.html" title="wishlist">Sản phẩm yêu thích</a>
              </li>
              <li>
                <a href="my-account.html" title="My account">Tài khoản </a>
              </li>
              <li><a href="/cart" title="My cart">Giỏ hàng</a></li> -->
              <ul>
                <ul>
                  <li class="login-box">
                    <select id="" class="selectpicker show-tick form-control" data-placeholder="Đăng nhập"
                      onchange="location = this.value;">
                      <option sec:authorize="isAuthenticated()" value="http://localhost:9090/logout" th:text="${#authentication.name}">
                      </option>
                      <option th:unless="${#authentication.name == null}" value="http://localhost:9090/login">
                        Đăng nhập
                      </option>
                      <option th:if="${#authentication.name != null}" value="http://localhost:9090/logout">
                        Đăng xuất
                      </option>
                      <option value="http://localhost:9090/register">Đăng ký</option>
                    </select>
                  </li>
                </ul>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--header top end-->

    <!--header middel-->
    <div class="header_middel">
      <div class="row align-items-center">
        <!--logo start-->
        <div class="col-lg-3 col-md-3">
          <div class="logo">
            <a href="/"><img src="\assets\img\logo\logo.jpg.png" alt="" /></a>
          </div>
        </div>
        <!--logo end-->
        <div class="col-lg-9 col-md-9">
          <div class="header_right_info">
            <div class="search_bar">
              <form action="#">
                <input placeholder="Tìm kiếm...." type="text" />
                <button type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </div>
            <div class="shopping_cart">
              <a href="#">
                <i class="fa fa-shopping-cart" th:text = "${session.totalItem == null} ? ' 0 ' : ${session.totalItem}"></i>
                <i class="fa fa-angle-down"></i>
              </a>

              <!--mini cart-->
              <div class="mini_cart">
                <div class="cart_item">
                  <div class="cart_img">
                    <a href="#"><img src="\assets\img\cart\cart.jpg" alt="" /></a>
                  </div>
                  <div class="cart_info">
                    <a href="#">lorem ipsum dolor</a>
                    <span class="cart_price">$115.00</span>
                    <span class="quantity">Qty: 1</span>
                  </div>
                  <div class="cart_remove">
                    <a title="Remove this item" href="#"><i class="fa fa-times-circle"></i></a>
                  </div>
                </div>
                <div class="cart_item">
                  <div class="cart_img">
                    <a href="#"><img src="\assets\img\cart\cart2.jpg" alt="" /></a>
                  </div>
                  <div class="cart_info">
                    <a href="#">Quisque ornare dui</a>
                    <span class="cart_price">$105.00</span>
                    <span class="quantity">Qty: 1</span>
                  </div>
                  <div class="cart_remove">
                    <a title="Remove this item" href="#"><i class="fa fa-times-circle"></i></a>
                  </div>
                </div>
                <div class="shipping_price">
                  <span> Phí giao hàng </span>
                  <span> 15,000đ </span>
                </div>
                <div class="total_price">
                  <span> Tổng cộng </span>
                  <span class="prices"> $227.00 </span>
                </div>
                <div class="cart_button">
                  <a href="checkout"> Thanh toán</a>
                </div>
              </div>
              <!--mini cart end-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--header middel end-->
    <div class="header_bottom">
      <div class="row">
        <div class="col-12">
          <div class="main_menu_inner">
            <div class="main_menu d-none d-lg-block">
              <nav>
                <ul>
                  <li>
                    <a href="/">Trang chủ</a>
                  </li>
                  <li>
                    <a href="/products">Sản phẩm</a>
                  </li>
                  <li>
                    <a href="#">Danh mục</a>
                    <div class="mega_menu jewelry">
                      <div class="mega_items jewelry" th:each="category : ${categories}">
                        <ul>
                          <li>
                            <a th:href="@{'/products-category/' + ${category.slug}}" th:text="${category.CatName}"></a>
                          </li>
                        </ul>
                      </div>
</div>
                  </li>
                  <li>
                    <a href="#">Thương hiệu</a>
                    <div class="mega_menu jewelry">
                      <div class="mega_items jewelry" th:each="brand : ${listBra}">
                        <ul>
                          <li>
                            <a th:href="@{'/products-branch/' + ${brand.slug}}" th:text="${brand.BrandName}"></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>

                  <li>
                    <a href="/blog">Tin tức</a>
                  </li>
                  <li><a href="/contact">Liên hệ</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>