<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Giỏ hàng</title>
    <meta name="description" content>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets\img\favicon.png">

    <!-- all css here -->
    <link rel="stylesheet" href="assets\css\bootstrap.min.css">
    <link rel="stylesheet" href="assets\css\plugin.css">
    <link rel="stylesheet" href="assets\css\bundle.css">
    <link rel="stylesheet" href="assets\css\style.css">
    <link rel="stylesheet" href="assets\css\responsive.css">
    <script src="assets\js\vendor\modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!-- Add your site or application content here -->

    <!--pos page start-->
    <div class="pos_page">
        <div class="container">
            <!--pos page inner-->
            <div class="pos_page_inner">
                <!--header area -->
                <div th:replace="layout/header :: header"></div>
                <!--header end -->
                <!--breadcrumbs area start-->
                <div class="breadcrumbs_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb_content">
                                <ul>
                                    <li><a href="/">Trang chủ</a></li>
                                    <li><i class="fa fa-angle-right"></i></li>
                                    <li>Giỏ hàng</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <!--breadcrumbs area end-->

                <!--shopping cart area start -->
                <div class="shopping_cart_area">
                    <form action="#">
                        <div class="row">
                            <div class="col-12">
                                <div class="table_desc">
                                    <div class="cart_page table-responsive">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th class="product_remove">Xóa</th>
                                                    <th class="product_thumb">Hình ảnh</th>
                                                    <th class="product_name">Sản phẩm</th>
                                                    <th class="product-price">Giá</th>
                                                    <th class="product_quantity">Số lượng</th>
                                                    <th class="product_total">Tổng cộng</th>
                                                </tr>
                                            </thead>
                                            <tbody th:if="${check == null}">
                                                <tr th:each="cartItem  : ${lstItems}">
                                                    <td class="product_remove"><a href="#"><i
                                                                class="fa fa-trash-o"></i></a></td>
                                                    <td class="product_thumb"><a href="#">
                                                            <img th:src="@{'/uploads/'+${cartItem.products.Avatar}}"
                                                                style="max-width: 40px" class="img-fluid" alt>
                                                        </a></td>
                                                    <td class="product_name"><a href="#"
                                                            th:text="${cartItem.products.ProductName}"></a></td>
                                                    <td class="product-price"
                                                        th:text="${#numbers.formatDecimal(cartItem.products.Price - cartItem.products.SalePrice, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'">
                                                    </td>
                                                    </td>

                                                    <td class="product_quantity"><input min="0" max="100"
                                                            th:value="${cartItem.Quantity}" type="number"></td>
                                                    <td class="product_total"
                                                        th:text="${#numbers.formatDecimal(cartItem.TotalsPrice, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'">
                                                    </td>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div th:if="${check}" class="text-center alert-warning">
                                            <p th:text="${check}"></p>
                                        </div>
                                    </div>
                                    <div class="cart_submit">
                                        <button type="submit">Cập nhật</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- coupon code area start -->
                        <div class="coupon_area">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <!-- <div class="coupon_code">
                                            <h3>Coupon</h3>
                                            <div class="coupon_inner">
                                                <p>Enter your coupon code if you
                                                    have one.</p>
                                                <input placeholder="Coupon code"
                                                    type="text">
                                                <button type="submit">Apply
                                                    coupon</button>
                                            </div>
                                        </div> -->
                                </div>
                                <div class="col-lg-6 col-md-6" th:if="${check == null}">
                                    <div class="coupon_code" th:each="cart  : ${listViewsCart}">
                                        <h3>Tổng giỏ hàng</h3>
                                        <div class="coupon_inner">
                                            <div class="cart_subtotal">
                                                <p>Tổng phụ</p>
                                                <p class="cart_amount"
                                                    th:text="${#numbers.formatDecimal(cart.TotalsPrice, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'">
                                                </p>
                                            </div>
                                            <div class="cart_subtotal ">
                                                <p>Phí vận chuyển</p>
                                                <p class="cart_amount"><span>Tỷ giá cố định:</span>15,000 VNĐ</p>
                                            </div>
                                            <a href="#">Tính toán vận chuyển</a>

                                            <div class="cart_subtotal">
                                                <p>Tổng cộng</p>
                                                <p class="cart_amount"
                                                    th:text="${#numbers.formatDecimal(cart.TotalsPrice + 15000, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'">
                                                </p>
                                            </div>
                                            <div class="checkout_btn">
                                                <a href="/checkout">Tiến hành kiểm tra</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--coupon code area end-->
                    </form>
                </div>
                <!--shopping cart area end -->

            </div>
            <!--pos page inner end-->
        </div>
    </div>
    <!--pos page end-->

    <!--footer area start-->
    <div th:replace="layout/footer :: footer"></div>
    <!--footer area end-->

    <!-- all js here -->
    <script th:replace="layout/script :: script"></script>
</body>

</html>