<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head"></head>

<body>
  <!-- Add your site or application content here -->

  <!--pos page start-->
  <div class="pos_page">
    <div class="container">
      <!--pos page inner-->
      <div class="pos_page_inner">
        <!--header area -->
        <div th:replace="layout/header :: header"></div>
        <!--header end -->
        <!--pos home section-->
        <div class="pos_home_section">
          <div class="row pos_home">
            <div class="col-lg-3 col-md-8 col-12">
              <!--sidebar banner-->
              <div class="sidebar_widget banner mb-35">
                <div class="banner_img mb-35">
                  <a href="#"><img src="assets\img\banner\banner1.jpg" alt="" /></a>
                </div>
                <div class="banner_img">
                  <a href="#"><img src="assets\img\banner\banner3.jpg" alt="" /></a>
                </div>
              </div>
              <!--sidebar banner end-->

              <!--categorie menu start-->
              <div class="sidebar_widget catrgorie mb-35">
                <h3>Thể loại</h3>
                <ul>
                  <li th:each="category : ${categories}">
                    <a href="#" th:text="${category.CatName}"></a>
                  </li>
                </ul>
              </div>
              <!--categorie menu end-->

              <!--wishlist block start-->
              
              <!--wishlist block end-->

              <!-- popular tags area-->
              <div class="sidebar_widget tags mb-35">
                <div class="block_title">
                  <h3>Thương hiệu</h3>
                </div>
                <div class="block_tags" th:each="brand : ${listBra}">
                  <a href="#" th:text="${brand.BrandName}"></a>
                </div>
              </div>
              <!--popular tags end -->

              <!--newsletter block start-->
              <div class="sidebar_widget newsletter mb-35">
                <div class="block_title">
                  <h3>Bản tin</h3>
                </div>
                <form action="#">
                  <p>Đăng ký nhận bản tin của bạn</p>
                  <input placeholder="Địa chỉ email của bạn" type="text" />
                  <button type="submit">Đăng ký</button>
                </form>
              </div>
              <!--newsletter block end-->

              <!--sidebar banner-->
              <!-- <div class="sidebar_widget bottom">
                <div class="banner_img">
                  <a href="#"><img src="assets\img\banner\banner9.jpg" alt="" /></a>
                </div>
              </div> -->
              <!--sidebar banner end-->
            </div>
            <div class="col-lg-9 col-md-12">
              <!--banner slider start-->
              <div class="banner_slider slider_1">
                <div class="slider_active owl-carousel">
                  <div class="single_slider" style="
                        background-image: url(assets/img/slider/banner1.jpg);
                      ">
                    <div class="slider_content">
                      <div class="slider_content_inner">
                        <h1>Women's Fashion</h1>
                        <a href="#">Mua sắm ngay</a>
                      </div>
                    </div>
                  </div>
                  <div class="single_slider" style="
                        background-image: url(assets/img/slider/banner2.jpg);
                      ">
                    <div class="slider_content">
                      <div class="slider_content_inner">
                        <h1>New Collection</h1>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit.
                        </p>
                        <a href="#">Mua sắm ngay</a>
                      </div>
                    </div>
                  </div>
                  <div class="single_slider" style="
                        background-image: url(assets/img/slider/banner3.jpg );
                      ">
                    <div class="slider_content">
                      <div class="slider_content_inner">
                        <h1>Best Collection</h1>
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing
                          elit.
                        </p>
                        <a href="#">Mua sắm ngay</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--banner slider start-->

              <!--new product area start-->
              <div class="new_product_area">
                <div class="block_title">
                  <h3>Sản phẩm mới</h3>
                </div>
                <div class="row">
                  <div class="product_active owl-carousel">
                    <div class="col-lg-3" th:each="product : ${lstNewProducts}">
                      <div class="single_product">
                        <div class="product_thumb">
                          <a th:href="@{/product-details/{ProductID}(ProductID=${product.ProductID})}"><img
                              th:src="@{'/uploads/'+${product.Avatar}}" /></a>
                          <div class="img_icone">
                            <img src="assets\img\cart\span-new.png" alt="" />
                          </div>
                          <div class="product_action">
                          </div>
                        </div>
                        <div class="product_content">
                          <span class="product_price"
                            th:text="${#numbers.formatDecimal(product.Price, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></span>
                          <h3 class="product_title">
                            <a href="single-product.html" th:text="${product.ProductName}">
                            </a>
                          </h3>
                        </div>
                        <div class="product_info">
                          <ul>
                            <li>
                              <a href="#" title=" Add to Wishlist ">Thêm giỏ hàng</a>
                            </li>
                            <li><a th:href="@{/product-details/{ProductID}(ProductID=${product.ProductID})}"                                                            
                              title="Xem Chi Tiết">Xem Chi Tiết</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--new product area start-->

              <!--featured product start-->
              <div class="featured_product">
                <div class="block_title">
                  <h3>Sản phẩm tiêu biểu</h3>
                </div>
                <div class="row">
                  <div class="product_active owl-carousel">
                    <div class="col-lg-3" th:each="product : ${listViewsProducts}">
                      <form action="" method="post">
                        <div class="single_product">
                          <div class="product_thumb">
                            <a th:href="@{/product-details/{ProductID}(ProductID=${product.ProductID})}"><img
                                th:src="@{'/uploads/'+${product.Avatar}}" /></a>
                            <div class="hot_img">
                              <img src="assets\img\cart\span-hot.png" alt="" />
                            </div>
                            <div class="product_action">
                            </div>
                          </div>
                          <div class="product_content">
                            <span class="product_price"
                              th:text="${#numbers.formatDecimal(product.Price, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></span>
                            <h3 class="product_title">
                              <a th:href="@{/product-details/{ProductID}(ProductID=${product.ProductID})}"
                                th:text="${product.ProductName}"></a>
                            </h3>
                          </div>
                          <div class="product_info">
                            <ul>
                              <li>
                                <a href="#" title=" Add to Wishlist ">Thêm yêu thích</a>
                              </li>
                              <li>
                                <a href="#" data-toggle="modal" data-target="#modal_box" title="Quick view">Xem chi
                                  tiết</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!--featured product end-->

              <!--banner area start-->
              <!-- <div class="banner_area mb-60">
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="single_banner">
                      <a href="#"><img src="assets\img\banner\banner7.jpg" alt="" /></a>
                      <div class="banner_title">
                        <p>Up to <span> 40%</span> off</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="single_banner">
                      <a href="#"><img src="assets\img\banner\banner8.jpg" alt="" /></a>
                      <div class="banner_title title_2">
                        <p>sale off <span> 30%</span></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
              <!--banner area end-->

              <!--brand logo strat-->
              <div class="brand_logo mb-60">
                <div class="block_title">
                  <h3>Thương hiệu</h3>
                </div>
                <div class="row">
                  <div class="brand_active owl-carousel">
                    <div class="col-lg-2" th:each="brand : ${listBra}">
                      <div class="single_brand">
                        <a href="#"><img th:src="@{'/uploads/'+${brand.logo}}" /></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--brand logo end-->
            </div>
          </div>
        </div>
        <!--pos home section end-->
      </div>
      <!--pos page inner end-->
    </div>
  </div>
  <!--pos page end-->

  <!--footer area start-->
  <div th:replace="layout/footer :: footer"></div>
  <!--footer area end-->

  <!-- modal area start -->
  <div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <!--<div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal_body">
          <div class="container">
            <div class="row">
              
              
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>

  <!-- modal area end -->

  <!-- all js here -->
  <script th:replace="layout/script :: script"></script>
</body>

</html>
