<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security6">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title th:text="'Đơn hàng của khách' + '   ' + ${order.user.fullname}"></title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/admun/assets/img/favicon.png" rel="icon" />
    <link href="/admun/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="/admun/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/admun/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/admun/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/admun/assets/vendor/quill/quill.snow.css" rel="stylesheet" />
    <link href="/admun/assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
    <link href="/admun/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/admun/assets/vendor/simple-datatables/style.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/admun/assets/css/style.css" rel="stylesheet" />
</head>

<body>
    <!-- ======= Header ======= -->
    <div th:replace="admin/fragments/header :: header"></div>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <div th:replace="admin/fragments/sidebar :: sidebar"></div>
    <!-- End Sidebar-->

    <main id="main" class="main">
        <div class="pagetitle">
            <h2 th:text="'Sửa đơn hàng cho khách hàng' + '   ' + ${order.user.fullname}"></h2>
        </div>
        <div class="container shadow p-5">
            <div class="row pb-2">
                <h2>Sửa đơn hàng</h2>
            </div>
            <!-- Thêm vào trong thẻ form để hiển thị thông báo lỗi -->
            <div th:if="${error}" class="alert alert-danger" role="alert">
                <span th:text="${error}"></span>
            </div>
            <form role="form" method="post" th:action="@{/admin/edit-order}" th:object="${order}">
                <input type="hidden" name="OrderID" class="form-control mb-3" th:field="*{OrderID}">
                <input type="hidden" name="OrderDate" class="form-control mb-3" th:field="*{OrderDate}">
                <input type="hidden" name="DeliveryDate" class="form-control mb-3" th:field="*{DeliveryDate}">
                <input type="hidden" name="TotalsPrice" class="form-control mb-3" th:field="*{TotalsPrice}">
                <input type="hidden" name="Notes" class="form-control mb-3" th:field="*{ShippingFee}">
                <input type="hidden" name="user.id" class="form-control mb-3" th:field="*{user.id}">
                <input type="hidden" name="Notes" class="form-control mb-3" th:field="*{Notes}">
                <div asp-validation-summary="All"></div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="OrderStatus">Tình trạng đặt hàng:</label>
                        <select name="OrderStatus" class="form-control mb-3" th:field="*{OrderStatus}">
                            <option value="Chờ xử lý">Chờ xử lý</option>
                            <option value="Đang xử lý">Đang xử lý</option>
                            <option value="Đã xác nhận">Đã xác nhận</option>
                            <option value="Đang giao hàng">Đang giao hàng</option>
                        </select>
                        <span class="alert-danger"></span>
                    </div>
                </div>
                <!-- <section class="section dashboard">
                    <div class="row">
                        <div class="col-12">
                            <div class="card recent-sales overflow-auto">
                                <div class="card-body mt-4">
                                    <table class="table table-borderless datatable">
                                        <thead>
                                            <tr>
                                                <th class="col-1 text-center">#</th>
                                                <th class="col-1 text-center">Ngày đặt hàng</th>
                                                <th class="col-1 text-center">Tên khách hàng</th>
                                                <th class="col-2 text-center">Địa chỉ</th>
                                                <th class="col-1 text-center">Số điện thoại</th>
                                                <th class="col-1 text-center">Trạng thái</th>
                                                <th class="col-1 text-center">Tổng cộng</th>
                                                <th class="col-3 text-center">Ghi chú</th>
                                                <th class="col-1 text-center">Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="order, iterStat : ${lstOrders}">
                                                <td th:text="${iterStat.count}" class="text-center" scope="row"></td>
                                                <td th:text="${order.OrderDate}" class="text-center"></td>
                                                <td th:text="${order.user.fullname}" class="text-center"></td>
                                                <td th:text="${order.user.address}" class="text-center"></td>
                                                <td th:text="${order.user.telephone}" class="text-center"></td>
                                                <td th:text="${order.OrderStatus}"
                                                    th:style="'color:' + (${order.OrderStatus} == 'Chờ xử lý' ? '#4682B4' : (${order.OrderStatus} == 'Đang xử lý' ? '#FFD700' : '#008000'))"
                                                    class="text-center"></td>
                                                <td class="text-center"> <span
                                                        th:text="${#numbers.formatDecimal(order.TotalsPrice, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></span>
                                                </td>
                                                <td th:text="${order.Notes}" class="text-center"></td>
                                                <td class="text-center">
                                                    <a href="" class="btn btn-primary btn-sm"><i
                                                            class="bi bi-pencil"></i></a>
                                                    <a onclick="return confirm(' Bạn có chắc chắn muốn xoá?')" href=""
                                                        class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->

                <button type="submit" name="sua" class="btn btn-lg btn-primary p-2"><i
                        class="bi bi-file-plus-fill"></i>Lưu</button>
                <a href="/admin/order" class="btn btn-lg btn-warning p-2">Quay lại</a>
            </form>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <div th:replace="admin/fragments/footer :: footer"></div>
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <div th:replace="admin/fragments/script :: script"></div>
</body>

</html>