<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Thủ tục thanh toán</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets\img\favicon.png">

    <!-- all css here -->
    <link rel="stylesheet" href="assets\css\bootstrap.min.css">
    <link rel="stylesheet" href="assets\css\plugin.css">
    <link rel="stylesheet" href="assets\css\bundle.css">
    <link rel="stylesheet" href="assets\css\style.css">
    <link rel="stylesheet" href="assets\css\responsive.css">
    <script src="assets\js\vendor\modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!-- Add your site or application content here -->

    <!--pos page start-->
    <div class="pos_page">
        <div class="container">
            <!--pos page inner-->
            <div class="pos_page_inner">
                <!--header area -->
                <div th:replace="layout/header :: header"></div>
                <!--header end -->
                <!--breadcrumbs area start-->
                <div class="breadcrumbs_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb_content">
                                <ul>
                                    <li><a href="/">Trang chủ</a></li>
                                    <li><i class="fa fa-angle-right"></i></li>
                                    <li>Tiến hành kiểm tra</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <!--breadcrumbs area end-->


                <!--Checkout page section-->
                <div class="Checkout_section">
                    <div class="checkout_form">
                        <form role="form" method="post" th:action="@{/order}" th:object="${orders}">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <h3>Chi tiết thanh toán</h3>
                                    <div class="row" th:each="cart  : ${listViewsCart}">

                                        <div class="col-12 mb-30">
                                            <label>Họ và tên <span>*</span></label>
                                            <input type="text" th:value="${cart.user.fullname}">
                                        </div>
                                        <div class="col-12 mb-30">
                                            <label for="country">Địa chỉ <span>*</span></label>
                                            <input th:value="${cart.user.address}" type="text">
                                        </div>
                                        <div class="col-lg-6 mb-30">
                                            <label>Số điện thoại<span>*</span></label>
                                            <input type="text" th:value="${cart.user.telephone}">
                                        </div>
                                        <div class="col-lg-6 mb-30">
                                            <label> Địa chỉ email <span>*</span></label>
                                            <input type="text" th:value="${cart.user.email}">

                                        </div>
                                        <div class="col-12 mb-30">
                                            <input id="address" type="checkbox" data-target="createp_account">
                                            <label class="righ_0" for="address" data-toggle="collapse"
                                                data-target="#collapsetwo" aria-controls="collapseOne">Gửi đến một địa
                                                chỉ
                                                khác?</label>

                                            <div id="collapsetwo" class="collapse one" data-parent="#accordion">
                                                <div class="row">
                                                    <div class="col-lg-6 mb-30">
                                                        <label>First Name <span>*</span></label>
                                                        <input type="text">
                                                    </div>
                                                    <div class="col-lg-6 mb-30">
                                                        <label>Last Name <span>*</span></label>
                                                        <input type="text">
                                                    </div>
                                                    <div class="col-12 mb-30">
                                                        <label>Company Name</label>
                                                        <input type="text">
                                                    </div>
                                                    <div class="col-12 mb-30">
                                                        <div class="select_form_select">
                                                            <label for="countru_name">country <span>*</span></label>
                                                            <select name="cuntry" id="countru_name">
                                                                <option value="2">bangladesh</option>
                                                                <option value="3">Algeria</option>
                                                                <option value="4">Afghanistan</option>
                                                                <option value="5">Ghana</option>
                                                                <option value="6">Albania</option>
                                                                <option value="7">Bahrain</option>
                                                                <option value="8">Colombia</option>
                                                                <option value="9">Dominican Republic</option>

                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-12 mb-30">
                                                        <label>Street address <span>*</span></label>
                                                        <input placeholder="House number and street name" type="text">
                                                    </div>
                                                    <div class="col-12 mb-30">
                                                        <input placeholder="Apartment, suite, unit etc. (optional)"
                                                            type="text">
                                                    </div>
                                                    <div class="col-12 mb-30">
                                                        <label>Town / City <span>*</span></label>
                                                        <input type="text">
                                                    </div>
                                                    <div class="col-12 mb-30">
                                                        <label>State / County <span>*</span></label>
                                                        <input type="text">
                                                    </div>
                                                    <div class="col-lg-6 mb-30">
                                                        <label>Phone<span>*</span></label>
                                                        <input type="text">

                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label> Email Address <span>*</span></label>
                                                        <input type="text">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="order-notes">
                                                <label for="order_note">Ghi chú</label>
                                                <textarea id="order_note"
                                                    placeholder="Ghi chú về đơn đặt hàng của bạn, ví dụ: ghi chú đặc biệt để giao hàng."
                                                    name="Notes"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <h3>Đơn hàng của bạn</h3>
                                    <div class="order_table table-responsive mb-30" th:if="${check == null}">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Sản phẩm</th>
                                                    <th>Giá tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody th:each="cartItem  : ${lstItems}">
                                                <tr>
                                                    <td>
                                                        <span th:text="${cartItem.products.ProductName}"></span>
                                                        <input type="hidden" th:value="${cartItem.products.ProductID}"
                                                            name="ProductID">
                                                        <input type="hidden"
                                                            th:value="${cartItem.products.Price - cartItem.products.SalePrice}"
                                                            name="Price">
                                                        <span>x<strong th:text="${cartItem.Quantity}"
                                                                name="Quantity"></strong></span>
                                                    </td>
                                                    <td th:text="${#numbers.formatDecimal(cartItem.TotalsPrice, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"
                                                        name="TotalPrice">
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot th:each="cart  : ${listViewsCart}">
                                                <tr>
                                                    <th>Tổng phụ của giỏ hàng</th>
                                                    <td
                                                        th:text="${#numbers.formatDecimal(cart.TotalsPrice, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Phí vận chuyển</th>
                                                    <td><strong>15,000 VNĐ</strong></td>
                                                </tr>
                                                <tr class="order_total">
                                                    <th>Tổng giá tiền</th>
                                                    <td><strong
                                                            th:text="${#numbers.formatDecimal(cart.TotalsPrice + 15000, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></strong>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="payment_method">
                                        <div class="panel-default">
                                            <input id="payment_defult" name="check_method" type="radio"
                                                data-target="createp_account">
                                            <label for="payment_defult" data-toggle="collapse"
                                                data-target="#collapsedefult" aria-controls="collapsedefult">PayPal <img
                                                    src="assets\img\visha\papyel.png" alt=""></label>

                                            <div id="collapsedefult" class="collapse one" data-parent="#accordion">
                                                <div class="card-body1">
                                                    <p>Thanh toán qua PayPal; bạn có thể thanh toán bằng thẻ tín dụng
                                                        nếu bạn không có tài khoản PayPal.</p>
                                                </div>
                                            </div>
                                            <br>
                                            <input id="payment_defult" name="check_method" type="radio"
                                                data-target="createp_account">
                                            <label for="payment_defult" data-toggle="collapse"
                                                data-target="#collapsedefult" aria-controls="collapsedefult">Thanh toán
                                                khi nhận hàng</label>

                                            <div id="collapsedefult" class="collapse one" data-parent="#accordion">
                                                <div class="card-body1">
                                                    <p>Thanh toán qua PayPal; bạn có thể thanh toán bằng thẻ tín dụng
                                                        nếu bạn không có tài khoản PayPal.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="order_button">
                                            <button type="submit">Đặt hàng </button>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--Checkout page section end-->

            </div>
            <!--pos page inner end-->
        </div>
    </div>
    <!--pos page end-->

    <!--footer area start-->
    <div th:replace="layout/footer :: footer"></div>

    <!--footer area end-->






    <!-- all js here -->
    <script th:replace="layout/script :: script"></script>
</body>

</html>