<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Liên hệ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets\img\favicon.png">

    <!-- all css here -->
    <link rel="stylesheet" href="assets\css\bootstrap.min.css">
    <link rel="stylesheet" href="assets\css\plugin.css">
    <link rel="stylesheet" href="assets\css\bundle.css">
    <link rel="stylesheet" href="assets\css\style.css">
    <link rel="stylesheet" href="assets\css\responsive.css">
    <script src="assets\js\vendor\modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!-- Add your site or application content here -->

    <!--pos page start-->
    <div class="pos_page">
        <div class="container">
            <!--pos page inner-->
            <div class="pos_page_inner">
                <!--header area -->
                <div th:replace="layout/header :: header"></div>
                <!--header end -->
                <!--breadcrumbs area start-->
                <div class="breadcrumbs_area">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb_content">
                                <ul>
                                    <li><a href="/">Trang chủ</a></li>
                                    <li><i class="fa fa-angle-right"></i></li>
                                    <li>Liên hệ</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <!--breadcrumbs area end-->

                <!--contact area start-->
                <div class="contact_area">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="contact_message">
                                <h3>Hãy cho chúng tôi biết ý kiến của bạn</h3>
                                <form id="contact-form" method="POST" th:action="@{/contact}" th:object="${contact}"
                                    enctype="multipart/form-data">
                                    <div class="row">
                                        <!-- Thêm mã CSRF nếu bạn đang sử dụng Spring Security -->
                                        <!-- <input type="hidden" th:name="${_csrf.parameterName}"
                                            th:value="${_csrf.token}" /> -->

                                        <!-- Hiển thị thông báo thành công -->
                                        <div th:if="${successMessage}" class="alert alert-success">
                                            <p th:text="${successMessage}"></p>
                                        </div>

                                        <!-- Hiển thị thông báo lỗi -->
                                        <div th:if="${errorMessage}" class="alert alert-danger">
                                            <p th:text="${errorMessage}"></p>
                                        </div>
                                        <div class="col-lg-6">
                                            <input name="fullname" placeholder="Họ và tên *" type="text">
                                        </div>
                                        <div class="col-lg-6">
                                            <input name="email" placeholder="Email *" type="email">
                                        </div>
                                        <div class="col-lg-6">
                                            <input name="subject" placeholder="Nghề nghiệp *" type="text">
                                        </div>
                                        <div class="col-lg-6">
                                            <input name="telephone" placeholder="Số điện thoại *" type="text">
                                        </div>

                                        <div class="col-12">
                                            <div class="contact_textarea">
                                                <textarea placeholder="Tin nhắn *" name="message"
                                                    class="form-control2"></textarea>
                                            </div>
                                            <button type="submit"> Gủi tin </button>
                                        </div>
                                        <!-- <div class="col-12">
                                            <p class="form-messege">
                                        </div> -->
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="contact_message contact_info">
                                <h3>Liên hệ với chúng tôi</h3>
                                <ul>
                                    <li><i class="fa fa-fax"></i> Địa chỉ : Vinh, Nghệ An</li>
                                    <li><i class="fa fa-phone"></i> <a href="#">lehoiha@gmail.com</a></li>
                                    <li><i class="fa fa-envelope-o"></i> 0364494459</li>
                                </ul>
                                <h3><strong>Giờ làm việc</strong></h3>
                                <p><strong>Thứ 2 – Thứ 7</strong>: 08AM – 22PM</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!--contact area end-->

                <!--contact map start-->
                <div class="contact_map">
                    <div class="row">
                        <div class="col-12">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3778.752669679411!2d105.66305137486415!3d18.719888082412787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3139d1e7ef952145%3A0xf6b3bdb7c8d63ee!2sC%C3%B4ng%20Ty%20Tnhh%20General%20Vi%E1%BB%87t%20Nam!5e0!3m2!1sen!2sbd!4v1684152205749!5m2!1sen!2sbd"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <!--contact map end-->


                </div>
                <!--pos page inner end-->
            </div>
        </div>
        <!--pos page end-->

        <!--footer area start-->
        <div th:replace="\layout/footer :: footer"></div>
        <!--footer area end-->






        <!-- all js here -->
        <script src="assets\js\vendor\jquery-1.12.0.min.js"></script>
        <script src="assets\js\popper.js"></script>
        <script src="assets\js\bootstrap.min.js"></script>
        <script src="assets\js\ajax-mail.js"></script>
        <script src="assets\js\plugins.js"></script>
        <script src="assets\js\main.js"></script>
</body>

</html>